.btn-duplicate {
    max-width: 150px;
    float: right;
    margin-right: 10px;
}

.btn-save{
    max-width: 150px;
    float: right;
    margin-right: 20px;
}

.btn-update {
    float: right;
    max-width: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.div-group-btn {
    margin-left: 0px !important; 
    margin-right:0px !important;
}
.label-select{
    font-size: 14px;
}