@font-face {
    font-family: OpenSans-Regular;
    src: font('OpenSans-Regular.ttf');
}
@font-face {
	font-family: OpenSans-SemiBold;
    src: font('OpenSans-SemiBold.ttf');
}
.font-OpenSans-SemiBold {font-family: OpenSans-SemiBold;}





