<div class="content-wrapper content-main">
    <!-- Page header -->
    <div class="page-header">
        <div class="breadcrumb-line breadcrumb-line-component">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/company/basic/list']">Company</a></li>
                <li><a
                        [routerLink]="['/company/basic/update']">{{currentCompany.name?currentCompany.name: 'Company'}}</a>
                </li>
                <li class="active"><a href="javascript:void(0)">{{currentCompany.department}}</a></li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="page-body">
        <div class="clearfix big-top-title">
            <div class="supper-title">{{currentCompany.department}} Managerment</div>
            <div class="action-right">
                <button type="button" class="btn bg-dark-blue text-white btn-flat btn-block btn-custom"
                    (click)="createDepartment()">Create</button>
            </div>
        </div>
        <div class="jobsite-table">
            <div class="body-content">

                <div class="row">
                    <div class="col-sm-1 public-holiday-filter">
                        <div>Filter by</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="select-group">
                            <input class="form-control select-custom" [(ngModel)]="filterByName" placeholder="Search"
                                (keyup.enter)="Search()" />
                        </div>
                    </div>
                    <div class="col-sm-1 public-holiday-filter">
                        <button type="button" class="btn bg-dark-blue text-white btn-flat btn-block btn-custom"
                            (click)="Search()">Search</button>
                    </div>
                </div>
                <br>


                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of listDepartment; let i = index">
                                <tr>
                                    <th>{{item.name}}</th>
                                    <td class="tbody-action">
                                        <a href="javascript:void(0)">
                                            <img src="../../../../../assets/images/Asset 8.png" alt=""
                                                (click)="toSiteList(item)" title="{{currentCompany.site}}">
                                            <!-- <span>{{currentCompany.site != 1? 'Sites':'Jobs'}}</span> -->
                                        </a>
                                        <a href="javascript:void(0)" (click)="editDepartment(item.id)" title="Edit">
                                            <img src="../../../../../assets/images/icon-edit.png" alt="">
                                            <!-- <span>Edit</span> -->
                                        </a>
                                        <a href="javascript:void(0)" (click)="delete(item.id)" title="Remove">
                                            <img src="../../../../../assets/images/icon-trash.png" alt="">
                                            <!-- <span>Remove</span> -->
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix foot-content">
                <div class="b-left">
                    Show {{show}} to 10 of {{totalItems}} entries
                </div>
                <div class="b-right">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="size" [rotate]="true"
                        [maxSize]="5" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>