.otmax-class {
    padding-right: 2px !important;
}

.content-setting {
    min-width: 65%;
    float: left;
}

.btn-otmax-update {
    padding: 10px 83px !important;
}
.otmax-action {
    float: right;
    padding-right: 0px;
    padding-left: 0px;
}